@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

html, body, #main {
    min-height: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

h1, h2 {
    line-height: 60px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 10px 0;
    color: #43587B;
    border-bottom: 1px solid;
    vertical-align: middle;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

#main > div {
    height: 100%;
}

#container {
    display: flex;
}

.sideBar {
    /*width: 20%;*/
    min-width: 240px;
    color: #868B8F;
    display: flex;
    flex-direction: column;
}

.sideBar h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
    padding: 5px 30px;
    color: #868BAF;
}

#leftBar {
    background: #303136;
}

#rightBar {
    background: #F3F3F3;
}

#leftBar h2 {
    border-color: #404040;
}

#rightBar h2 {
    border-color: #CFCFCF;
}

#content h1 {
    border-color: #CFCFCF;
}

.entityContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.entityContainer > div {
    padding: 5px 30px;
    margin: 1px 0;
    height: 40px;
    font-size: 16px;
    line-height: 32px;
    vertical-align: top;
}

#chatMembers {
    height: calc(100% - 81px);
}

#chatGroups {
    flex-grow: 1;
    height: calc(90% - 142px);
}

#settings {
    border-top: 1px solid #404040;
    height: 60px;
    display: flex;
}

#settings h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 59px;
    font-size: 14px;
}

#user {
    flex-grow: 1;
    width: 180px;
}

#logout {
    flex-grow: 1;
    width: 59px;
    border-left: 1px solid #424242;
    font-size: 8px;
    line-height: 59px;
    text-align: center;
    background: url('imgs/logoff.png') no-repeat center;
    cursor: pointer;
}

#content {
    min-width: 200px;
    width: calc(100% - 480px);
}

#chatContainer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 81px);
}

#messagesContainer {
    flex-grow: 1;
    height: calc(100% - 125px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.messageContentWrapper {
    min-height: 25px;
    padding: 0;
    margin: 6px 0;
    display: flex;
}

.messageContentWrapper > span {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
}

.timestamp {
    width: 50px;
    font-size: 12px;
    padding: 0 10px;
}

.messageAuthor {
    font-size: 16px;
    color: #868BAF;
    padding-right: 10px;
}

.messageContent {
    overflow-x: hidden;
    /*width: 500px;*/
    height: auto;
    word-wrap: break-word;
    padding-right: 15px;
}

#messageInput {
    /*flex-grow: 1;*/
    height: 94px;
}

.messageInputWrapper {
    display: flex;
    flex-direction: row;
    margin: 15px 15px;

    width: calc(100% - 30px);
    border: 2px solid #CFCFCF;
}

.send {
    flex-grow: 1;
    width: 58px;
    height: 58px;
    border-right: 1px solid #F3F3F3;
    font-size: 8px;
    line-height: 59px;
    text-align: center;
    background: url('imgs/send.png') no-repeat center;
    background-size: 26px 26px;
    cursor: pointer;
}

.confirm {
    background-color: #43587B;
    width: 33px;
    cursor: pointer;
}

textarea {
    resize: none;
    border: none;
}

.messageTextArea {
    padding: 12px 15px;
    font-size: 15px;
    height: calc(100% - 20px);
    width: calc(100% - 58px);
}

.sideInputWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;

    width: 190px;
    height: 35px;
    border: 1px solid #CFCFCF;
}

.sideTextArea {
    width: 155px;
    line-height: 33px;
    padding-left: 5px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0;
    -webkit-appearance: none;
}


.groupSelected {
    background-color: #42464F;
    cursor: pointer;
}

.groupDefault:hover {
    background-color: #363942;
    cursor: pointer;
}
